<style>
    .message-content{
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 16px;
        line-height: 21px;
    }

</style>

<div class="message-content">
    <p>Olá, {{name}} Parece que uma Troca de senha para sua conta foi solicitada</p>
    <p>Se foi você, por favor click no link abaixo</p>
    <a href="{{link}}" target="blank">Resetar Minha senha</a>
    <p>Se não foi você descarte esse E-mail</p>
    <strong>Equipe Gobarber</strong>

</div>
